:root {
    --white-100: #fff;
    --white-200: rgba(255, 255, 255, 0.2488);
    --grey-100: #4c545c;
    --grey-200: #9eabb2;
    --primary-100: #26bba4;
    --primary-200: rgba(137, 229, 199, 0.5033);
    --secondary-100: #6174ff;
    --secondary-200: rgba(0, 0, 0, 0.0988);
    --inner-shadow: rgba(0, 0, 0, 0.1533);
}
